<p class="lead">
  This page demonstrates the usage of the
  <%= link_to 'Bootsy gem', 'https://github.com/volmer/bootsy', target: '_blank' %>
  in a Rails application.
</p>

<%= form_tag '#' do %>
  <%#= bootsy_area 'content' %>
<% end %>
